$primaryColor-light:#faf3dd;
$secondaryColor-light:#ffa69e;
$thirdColor-light: #aed9e0;
$fourthColor-light: #5e6472;
$fifthColor-light: #b8f2e6;
$headerColor-light: #1d394d;

$thirdColorLighter: #41c8dd;

$mainText-light:#2c4251;
$secondaryText-light:#4b5156;
