
  $primaryColor:#393e41;
  $secondaryColor:#d3d0cb;
  $thirdColor: #e2be3c;
  $fourthColor: #3b8ea5;
  $fifthColor: #e24e1b;
  $headerColor: #5590bb;

  $thirdColorLighter: #e2cf8c;
  $thirdColorLighter-light: #41c8dd;
  
  $mainText:#2c4251;
  $secondaryText:#4b5156;


  $primaryColor-light:#faf3dd;
  $secondaryColor-light:#ffa69e;
  $thirdColor-light: #aed9e0;
  $fourthColor-light: #5e6472;
  $fifthColor-light: #b8f2e6;
  $headerColor-light: #1d394d;

  $thirdColorLighter: #41c8dd;

  $mainText-light:#2c4251;
  $secondaryText-light:#4b5156;